<div class="container">
  <div class="jumbotron">
    <h1>Angular and JavaScript</h1>
    <h2>Learning more </h2>
  </div>
</div>

<div class="card col-md-4">
  <div class="card-header">
    <a href="http://localhost:4200"></a><br>
</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a routerLink = '/main-page'>Home</a></li>

    <li class="list-group-item"><a routerLink = '/origin'>Origin of JavaScript</a></li>

    <li class ="list-group-item"><a routerLink = '/callbacks'>Call After f(x)</a></li>

    <li class="list-group-item"><a routerLink = '/promises'>Construct: Promises</a></li>

    <li class="list-group-item"><a routerLink ='/map-higher'> Map: A Higher F(x)</a></li>
  </ul>
</div>


<router-outlet></router-outlet>